import init.mt6735.usb.rc
import init.mt6735.modem.rc
import init.target.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=755
    # Turn off backlight on blank
    write /sys/class/leds/lcd-backlight/trigger "backlight"

on init
    # Platform-specific mount points
    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system
    mkdir /persist   0771 system system
    mkdir /nvdata    0771 system system

    # increase sysctl_rmem_max and sysctl_wmem_max to 2M
    write /proc/sys/net/core/wmem_max 2097152
    write /proc/sys/net/core/rmem_max 2097152

    chown root system /dev/kmsg
    chmod 0660 /dev/kmsg

on fs
    mount_all /fstab.mt6735

on post-fs
    symlink /sdcard /storage/sdcard0

    # TODO: Is this needed?
    chown system system /protect_f
    chmod 0770 /protect_f

    chown system system /protect_s
    chmod 0770 /protect_s

    mkdir /protect_s/properties 0770 system system

    mkdir /nvdata/md     0771 system radio
    mkdir /nvdata/md_cmn 0771 system radio
    mkdir /nvdata/media  0771 media audio
    restorecon_recursive /nvdata/

on post-fs-data
    # Should create dependent /data folders here
    chown root system /nvdata
    chmod 0771 /nvdata
    symlink /nvdata /data/nvram
    mkdir /nvdata/media 0771 media audio

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /nvdata

    # rfkill
    chmod 0660 /dev/rfkill

    # Radio
    mkdir /dev/radio 0770 radio radio
    mkdir /data/drm/wv 0770 drm system

    # GPS
    mkdir /data/gps_mnl 0771 gps system
    mkdir /data/misc/gps 0770 gps system
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status

    # NFC
    mkdir /data/nfc_socket 0771 nfc radio

    # md32 boot
    chown root system /dev/md32
    chmod 0440 /dev/md32
    chown root system /sys/class/misc/md32/md32_mobile_log
    chmod 0660 /sys/class/misc/md32/md32_mobile_log
    write /sys/class/misc/md32/md32_boot 1

    # Graphics
    chmod 666 /dev/mali0

    chmod 0666 /dev/pmem_multimedia

    # watch dog kicker
    write /proc/wdk "0 20 30"

    # set ptmx group to non-root
    chown root radio /dev/ptmx

    # M4U
    chmod 0444 /dev/m4u

    #set mlock limit to infinite (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0640 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq

    #OFFLOAD SERVICE
    chmod 0640 /dev/offloadservice
    chown media media /dev/offloadservice

    # media - memory bandwidth
    chmod 0664 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown system media /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als

    chmod 0660 /sys/devices/platform/msensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptxy
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptz
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsrange
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsbandwidth

    chown system /sys/devices/platform/msensor/driver/cpsopmode
    chown system /sys/devices/platform/msensor/driver/cpsreptxy
    chown system /sys/devices/platform/msensor/driver/cpsreptz
    chown system /sys/devices/platform/gsensor/driver/cpsopmode
    chown system /sys/devices/platform/gsensor/driver/cpsrange

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown system system /dev/gsensor
    chown radio system /dev/als_ps
    chown system system /dev/gyroscope
    chown system system /dev/aal_als

    chmod 0660 /sys/class/misc/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/misc/m_acc_misc/accactive
    chmod 0660 /sys/class/misc/m_acc_misc/accdelay
    chmod 0660 /sys/class/misc/m_acc_misc/accbatch
    chmod 0660 /sys/class/misc/m_acc_misc/accflush
    chown system system /sys/class/misc/m_acc_misc/accenablenodata
    chown system system /sys/class/misc/m_acc_misc/accactive
    chown system system /sys/class/misc/m_acc_misc/accdelay
    chown system system /sys/class/misc/m_acc_misc/accbatch
    chown system system /sys/class/misc/m_acc_misc/accflush

    chmod 0660 /sys/class/misc/m_mag_misc/magactive
    chmod 0660 /sys/class/misc/m_mag_misc/magdelay
    chmod 0660 /sys/class/misc/m_mag_misc/magbatch
    chmod 0660 /sys/class/misc/m_mag_misc/magflush
    chmod 0660 /sys/class/misc/m_mag_misc/magoactive
    chmod 0660 /sys/class/misc/m_mag_misc/magodelay
    chmod 0660 /sys/class/misc/m_mag_misc/magobatch
    chmod 0660 /sys/class/misc/m_mag_misc/magoflush
    chown system system /sys/class/misc/m_mag_misc/magactive
    chown system system /sys/class/misc/m_mag_misc/magdelay
    chown system system /sys/class/misc/m_mag_misc/magbatch
    chown system system /sys/class/misc/m_mag_misc/magflush
    chown system system /sys/class/misc/m_mag_misc/magoactive
    chown system system /sys/class/misc/m_mag_misc/magodelay
    chown system system /sys/class/misc/m_mag_misc/magobatch
    chown system system /sys/class/misc/m_mag_misc/magoflush
    chmod 0660 /sys/class/misc/m_batch_misc/batchactive
    chmod 0660 /sys/class/misc/m_batch_misc/batchdelay
    chmod 0660 /sys/class/misc/m_batch_misc/batchbatch
    chmod 0660 /sys/class/misc/m_batch_misc/batchflush
    chown system system /sys/class/misc/m_batch_misc/batchactive
    chown system system /sys/class/misc/m_batch_misc/batchdelay
    chown system system /sys/class/misc/m_batch_misc/batchbatch
    chown system system /sys/class/misc/m_batch_misc/batchflush

    chmod 0660 /sys/class/misc/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroflush
    chown system system /sys/class/misc/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/misc/m_gyro_misc/gyroactive
    chown system system /sys/class/misc/m_gyro_misc/gyrodelay
    chown system system /sys/class/misc/m_gyro_misc/gyrobatch
    chown system system /sys/class/misc/m_gyro_misc/gyroflush

    chmod 0660 /sys/class/misc/m_alsps_misc/alsactive
    chmod 0660 /sys/class/misc/m_alsps_misc/alsdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/alsbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/alsflush
    chmod 0660 /sys/class/misc/m_alsps_misc/psactive
    chmod 0660 /sys/class/misc/m_alsps_misc/psdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/psbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/psflush
    chown system system /sys/class/misc/m_alsps_misc/alsactive
    chown system system /sys/class/misc/m_alsps_misc/alsdelay
    chown system system /sys/class/misc/m_alsps_misc/alsbatch
    chown system system /sys/class/misc/m_alsps_misc/alsflush
    chown system system /sys/class/misc/m_alsps_misc/psactive
    chown system system /sys/class/misc/m_alsps_misc/psdelay
    chown system system /sys/class/misc/m_alsps_misc/psbatch
    chown system system /sys/class/misc/m_alsps_misc/psflush

    chmod 0660 /sys/class/misc/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/misc/m_baro_misc/baroactive
    chmod 0660 /sys/class/misc/m_baro_misc/barodelay
    chmod 0660 /sys/class/misc/m_baro_misc/barobatch
    chmod 0660 /sys/class/misc/m_baro_misc/baroflush
    chown system system /sys/class/misc/m_baro_misc/baroenablenodata
    chown system system /sys/class/misc/m_baro_misc/baroactive
    chown system system /sys/class/misc/m_baro_misc/barodelay
    chown system system /sys/class/misc/m_baro_misc/barobatch
    chown system system /sys/class/misc/m_baro_misc/baroflush

    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

    # VideoCodec
    chmod 0660 /dev/Vcodec
    chown media system /dev/Vcodec

    # MJC
    chmod 0660 /dev/MJC
    chown media system /dev/MJC

    # PMIC property
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_stop
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_ut

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    #pmu
    chown root radio /sys/devices/platform/mt-pmic/pmic_access_bank0
    chown root radio /sys/devices/platform/mt-pmic/pmic_access_bank1
    chown root radio /sys/devices/platform/mt6311-user/mt6311_access
    chown root radio /sys/devices/platform/mt-pmic/pmic_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access_bank0
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access_bank1
    chmod 0664 /sys/devices/platform/mt6311-user/mt6311_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access

    # Android SEC related device nodes
    chmod 0660 /dev/sec
    chown root system /dev/sec

    # FM Radio device node
    chmod 0660 /dev/fm
    chown media media /dev/fm

    # device info /proc interface
    chmod 0440 /dev/devmap
    chown root system /dev/devmap

    # bluetooth
    mkdir /data/@btmtk 0770 bluetooth net_bt
    chown bluetooth bluetooth /data/@btmtk/host_cache
    chown bluetooth bluetooth /data/@btmtk/dev_cache
    chown bluetooth bluetooth /dev/hid-keyboard
    chmod 0660 /dev/hid-keyboard
    #Use uinput's default permission
    chown system net_bt_admin /dev/uinput

    # UIBC
    chown system media /dev/uibc
    chmod 0660 /dev/uibc

    # almk
    chmod 0440 /dev/mtk_almk

    # DISP
    chmod 0444 /dev/mtk_disp

    #Camera
    chmod 0660 /dev/camera-sysram
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/camera-pipemgr
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/FM50AF
    chmod 0660 /dev/CAM_CAL_DRV
    chmod 0660 /dev/MAINAF

    chown system camera /dev/camera-sysram
    chown system camera /dev/camera-isp
    chown system camera /dev/camera-fdvt
    chown system camera /dev/camera-pipemgr
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/kd_camera_flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/FM50AF
    chown system camera /dev/CAM_CAL_DRV
    chown system camera /dev/MAINAF

    # MDP
    chmod 0660 /dev/mt-mdp
    chown system media /dev/mt-mdp

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown media media /dev/MTK_SMI

    # change partition permission
    chmod 0640 /mtd@sec_ro
    chown root system /mtd@sec_ro

    chmod 0640 /mtd@preloader
    chown root system /mtd@preloader

    chmod 0660 /mtd@pro_info
    chown root system /mtd@pro_info

    chmod 0640 /mtd@bootimg
    chown root system /mtd@bootimg

    chmod 0640 /mtd@recovery
    chown root system /mtd@recovery

    chmod 0660 /mtd@nvram
    chown root system /mtd@nvram

    chmod 0660 /mtd@seccfg
    chown root system /mtd@seccfg

    chmod 0660 /mtd@misc
    chown root system /mtd@misc

    #mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/mtk_sched

    #BT SCO CVSD, for MT6572 and MT6582 CVSD codec on AP
    chmod 0660 /dev/ebc
    chown media media /dev/ebc

    chmod 0666 /dev/uio0

    #otp
    chmod 0660 /proc/driver/otp
    chown root system /proc/driver/otp

    # secure memory
    chown system system /proc/secmem0

    # mcDriverDaemon
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /data/app/mcRegistry/TbStorage 0775 system system

    # AGPS
    mkdir /data/agps_supl 0771 gps system

    chmod 0666 /dev/exm0

    # Thermal	
    mkdir /data/.tp/ 0775 system system


on boot
    write /proc/sys/vm/dirty_writeback_centisecs 300
    chmod 0660 /sys/power/autosleep

    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    chown system system /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chown root   system /sys/kernel/debug/binder/transaction_log_enable
    chown root   system /sys/kernel/debug/binder/perf_evalue

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/button-backlight/trigger
    chown system system /sys/class/leds/keyboard-backlight/trigger
    chown system system /sys/class/leds/jogball-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    # HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown system system /proc/hps/num_limit_ultra_power_saving
    chmod 0660 /proc/hps/num_limit_ultra_power_saving
    chown system system /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown system system /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold

    # CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

    # BW monitor
    chown system system /proc/fliper
    chmod 0664 /proc/fliper

    #change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue

    # WMT proc
    chown shell system /proc/driver/wmt_dbg
    chown shell system /proc/driver/wmt_aee

on property:ro.board.platform=mt6753
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1300000

service nvram_daemon /system/bin/nvram_daemon
    class main
    user root
    group system
    oneshot

# Wireless subsystem services
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BK -dd
    class main
    user root
    group net_admin net_raw
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BK -dd
    class main
    user root
    group net_admin net_raw
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -BK -dd
    class main
    user root
    group net_admin net_raw
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    user dhcp
    group net_admin net_raw
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    user dhcp
    group net_admin net_raw
    disabled
    oneshot

# Location
service agpsd /system/bin/mtk_agpsd
    class main
    socket agpsd stream 660 gps system
    socket agpsd2 stream 660 gps inet
    socket agpsd3 stream 660 gps inet
    user gps
    group gps radio inet sdcard_r sdcard_rw misc

service slpd /system/bin/slpd
    class main
    user gps
    group gps inet

service wifi2agps /system/bin/wifi2agps
    class main
    user wifi
    group gps inet

service mnld /system/xbin/mnld
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw system
    socket mnld stream 660 gps system

# Sensors
service msensord /system/bin/msensord
    class main
    oneshot

service s62xd /system/bin/s62xd
    disabled
    user compass
    group system

service ami304d /system/bin/ami304d
    user system
    group system
    disabled
    class main

service memsicd /system/bin/memsicd
    disabled
    user system
    group system
    class main

service memsicd3416x /system/bin/memsicd3416x
    disabled
	  user system
    group system
    class main

service akmd8975 /system/bin/akmd8975
    disabled
    user system
    group system
    class main

service akmd8963 /system/bin/akmd8963
    disabled
    user system
    group system
    class main

service akmd09911 /system/bin/akmd09911
    disabled
    user system
    group system
    class main

service bmm050d /system/bin/bmm050d
    disabled
    user system
    group system
    class main

service mc6420d /system/bin/mc6420d
    disabled
    user system
    group system
    class main

service af7133d /system/bin/af7133d
    disabled
    user system
    group system input
    class main

service orientationd /system/bin/orientationd
    disabled
    user system
    group system input
    class main

service geomagneticd /system/bin/geomagneticd
    disabled
    user system
    group system input
    class main

# Thermal
service thermal_manager /system/bin/thermal_manager
    class main
    user root
    oneshot

service fuelgauged /system/bin/fuelgauged
    class main
    user system
    group system

service wmtLoader /system/bin/wmt_loader
    user root
    group root
    class core
    oneshot

service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
    group system
    class core

# Graphics
service pq /system/bin/pq
    class main
    user system
    group system graphics

# Charger mode
service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

# Logging infrastructure
service mdlogger /system/bin/mdlogger
    class main
    user shell
    group shell system radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

service emdlogger1 /system/bin/emdlogger1
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

service mobile_log_d /system/bin/mobile_log_d
    class main

service netdiag /system/bin/netdiag
    class main

on property:debug.MB.prdebug=1
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* +p"
    write /sys/kernel/debug/dynamic_debug/control "file *gpu* -p"
on property:debug.MB.prdebug=0
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* -p"

